
#ignore symbolic link folder
Include/boost
Include/staticlib
Include/dynamiclib
Include/glew
Include/glm
Include/sdl2

#folder
.vs/
_ExternlLibrary/
_Intermediate/
Bin/
Library/**/
Resource/

#files
*.opendb
*.user
*.VC.db
